<div class="row jk-form">
  <form action="/title">
    <div class="col-md-6 jk-form-group">
      <label for="title">Please input your title! :D</label>
      <input id="title" name="title" class="jk-form-control" type="text">
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-block">Josue will format your title</button>
    </div>
  </form>
</div>
