<!DOCTYPE html>
<html>
<head>
  <title>Title Case is awesome</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="stylesheet/css">
</head>
<body>

  <div class="container">

    <%= yield %>

  </div>

</body>
</html>
